* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat" sans-serif;
    border-color: #ECEDED;
    }


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
} 
img {
    display: block;
}
/* 
.taitle {
    font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.03em;
        color: #111111;
        text-align: center;
        text-transform: uppercase;
}
.orang {
    color: #FD9222;
    ;
}
.tecst {
    font-family: Montserrat;
        font-weight: 400;
        text-align: left;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: -0.02em;
            color: #111111;

}
.menu-linc {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: -0.02em;
        color: #111111;
}
.menu-list {
    display: flex;
    gap: 24px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

button {
    cursor: pointer;
}

p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
.container {
    width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto; 
}


/* --------------HEADER---------------- */

.header {
    
}
.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    margin-right: 90px;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-logo {
    font-size: 18px; 
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
    text-align: left;
    color: #111111;
    display: flex;
    align-items: center;
}
.header-logo-ital {
    font-style: italic;
}
.header-menu-linc {
   transition: color 300ms linear;

    }

    .header-menu-linc:hover,
        .header-menu-linc:focus {
color: #FD9222;
    }
.header-soc-list {
    display: flex;
    gap: 18px;
    padding-top: 24px;
    padding-bottom: 32px;
}


.header-soc-icon {
fill: #111111;
transition: fill 300ms linear;
}
.header-soc-linc:hover .header-soc-icon,
.header-soc-linc:focus .header-soc-icon {
    fill: #FD9222;
}

/* -------------------HERO-------------------- */

.hero {
   padding-bottom: 72px;
}
.hero-container {
padding: 380px 40px 40px;
border-radius: 30px;
background-image: linear-gradient(rgba(17, 17, 17, 0), rgba(17, 17, 17, 0.4)), url(../images/chocolate.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover; 
} 

.hero-title {
    max-width: 484px;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin-bottom: 32px;
}

    .hero-primayry-btn {
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 14px 40px;
    border: none;
    border-radius: 100px;
    background-color: #FD9222;
    margin-right: 14px;
    transition: background-color 300ms linear,
    color 300ms linear;
    }

.hero-primayry-btn:hover,
.hero-primayry-btn:focus {
    color: #FD9222;
    background-color:  #FCF1E0;

}

    .hero-secondary-btn {
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #1E1823;; 
    padding: 14px 40px;
        border: 1px solid #FFFFFF;
        border-radius: 100px;
        transition: background-color 300ms linear,
        color 300ms linear;
    }

    .hero-secondary-btn:hover,
    .hero-secondary-btn:focus {
    border: 1px solid #FD9222;
   color: #FD9222;
   background-color: #FFFFFF;
    }

    .hero-scroll-btn {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 14px;
    }

    .hero-scroll-btn span {
        width: 38px;
        height: 38px; 
        background-color: #FAFAFA;
        border-radius: 50%;  
        display: flex;
        align-items: center;
        justify-content: center;
        transition: fill 300ms linear, background-color 300ms linear ;

    }
      .hero-scroll-icon {
        fill: #FD9222;
      }

      .hero-scroll-btn:hover span {
           background-color:  #FD9222;
      }
      .hero-scroll-btn:hover .hero-scroll-icon {
        fill:#FAFAFA
      }

        .hero-butons {
         display: flex;
         align-items: center;   
        }
    /* --------------PRICE----------------- */

   .price {
    background: #1E1823;
    padding-top: 50px;
    padding-bottom: 50px;
   }

   .price-list {
    display: flex;
    gap: 88px;
    padding-left: 18px;
    padding-right: 18px;
   }

   .price-item {
    width: calc((100% - 2 * 88) / 3);
    position: relative;

   }

   .price-item:not(:last-child):after {
    content:"" ;
    position: absolute;
    height: 124px;
    width: 1px;
    background-color: #FFFFFF;
    display: block;
    right: -18px;
    top: 60px;
   }

 .price-item::before {
    content: "";
display: block;
width: 62px;
height: 62px;
border: 1px solid rgba(225, 225, 225, 0.5);
border-radius: 50%;
margin-bottom: 22px;
background-repeat: no-repeat;
background-position: center;
 }
 .price-item:first-child:before {
    background-image: url(../Group.svg);
     }

     .price-item:nth-child(2):before {
        background-image: url(../Group1.svg);
         }
         
         .price-item:last-child:before {
            background-image: url(../Group2.svg);
             }




   .price-h {
        font-size: 18px;
        font-weight: 600;
        line-height: 21.94px;
        text-align: left;
        color:  #FFFFFF;
        margin-bottom: 18px;
   }

   .piece-p {
        font-size: 14px;
        font-weight: 400;
        line-height: 17.07px;
        letter-spacing: -0.02em;
        color: #FFFFFFB2;
   }



/* ------------------PICTURES--------------------- */

.pictures {
    padding-top: 100px;
}
.pictures-it-all {
    max-width: 411px;
    margin: 0 auto;
    margin-bottom: 28px;
}
.pictures-at-simply {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 486px;
}
.pictures-list {
    display: flex;
    gap: 19px;
}

.pictures-item {
    width: ((100% - 19 * 3) / 4);
    border: 1px solid #FD9222;
    border-radius: 15px;
    padding: 28px;
    position: relative;
}

.pictures-item:hover .pictures-item-text {
    transform: translate(0);
    opacity: 1;
}


.pictures-title {
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        text-transform: uppercase;
}
.black {
    color: #111111;
}
.pictures-item-img {
    margin-bottom: 36px;
}
    .choco { 
        background-color:#FD9222;;

}
.nuts {
    border: none;
    background-color: #1E1823;;
}
.pictures-item-text {
    position: absolute;
    top: 0px;
    left: 0;
    background-color: #FFFFFF;
    border-radius: 15px;
    color: #111111;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        text-align: left;
        padding: 20px;
        height: 100%;
        opacity: 0;
        transform: rotateY(180deg);
transition: transform 300ms linear, opacity 300ms linear;
}
/* ---------------------HOW-------------------------- */

.how {
    margin-top: 100px;
}

.how-h {
    margin-bottom: 50px;
   
}
.how-wrap {
    display: flex;
    gap: 20px;
 
}
.how-content {
padding: 32px;
border-radius: 15px;
}

.how-title {
    font-family: Montserrat;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        text-align: left;
color: #111111;
max-width: 350px;
margin-bottom: 28px;
}
.how-item:not(:last-child) 
{
    margin-bottom: 24px;
}
.how-item {
    position: relative;
}

.how-item::before {
    position: absolute;
    top: 5px;
    left: -16px;
content: "";
width: 8px;
height: 8px;
background-color: #4c4c4c;
border: 1px solid #eceded;
border-radius: 50%;
}

.how-list {
    padding-left: 16px;
    border-color: #FFFFFF;
    
}


.how-title-sss {
max-width: 436px;
}


/* -------------------LOVED------------------------- */

.loved {
    margin-top: 100px;
}

.loved-h {
    margin-bottom: 50px;
 
}
.loved-list {
    display: flex;
    gap: 28px;
    margin-bottom: 50px;
}

.loved-item {
    text-align: center;
    width: calc((100% - 54px) / 3);
    border-radius: 15px;
    border: 1px solid #1111111A;
    padding: 56px 24px 24px 24px;
    background-color: #FFFFFF;
    position: relative;
}

.loved-title {
    margin-bottom: 24px;
}

.loved-p {
text-align: center;
}

.loved-btn {
        font-size: 18px;
        font-weight: 600;
        line-height: 21.94px;
        color: #111111;
        margin: 0 auto;
        margin-top: 50px;
        display: block;
        padding: 14px 40px;
        border-radius: 100px;
        border: 1px solid #FD9222;
        background-color: transparent;
        transition-property:color #FFFFFF, background-color #FD9222;
        transition-duration: 300ms;

}
.loved-btn:hover,
.loved-btn:focus {
    background-color: #FD9222;
    color: #FFFFFF;
}

.loved-image {
position: absolute;
top: -40px;
left: 50%;
transform: translate(-50%);
}

/* -------------------FOOTER--------------------- */

.footer {
    background: #1E1823;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-title {
        font-size: 28px;
        font-weight: 500;
        line-height: 34px;
        letter-spacing: -0.02em;
color: #FFFFFF;
max-width: 300px;

}

.footer-p {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        color: #FFFFFF;
        margin-bottom: 14px;
}

.footer-contact-wrap {

}

.footer-wrap {
display: flex;
justify-content: space-between;
border-bottom: 1px solid #FFFFFF1A;
padding-bottom: 54px;
margin-bottom: 24px;
}

.footer-address {}

.footer-address-list {}

.footer-address-item {
 
}

.footer-nav {}

.footer-nav-list {
            padding-top: 18px;
                padding-bottom: 18px;  
}

.footer-nav-item {}

.footer-nav-p {
        color: #FFFFFF;
        transition: color 300ms linear;  
}
.footer-nav-p:hover,
.footer-nav-p:focus {
    color: #FD9222;
}

.footer-tel {
    font-style: normal;
    color: #FFFFFF;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.02em;
        text-align: center;

}

/* ---------------------BACKDROP-------------------- */

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(14, 14, 14, 0.545);
    display: flex;
    align-items: center;
    justify-content: center;
    transition:  opacity 300ms, visibility 300ms;
}

/* -------------------------MODAL------------------------- */

.modal{
    width: 517px;
    min-height: 694px;
    background-color: #FAFAFA;
    border-radius: 15px;
    padding: 40px;
    position: absolute;
    /* transform: translate(-50%, -50%) scale(1); */
}

/* .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
    
} */

.modal-clic-btn {
position: absolute;
right: 24px;
top: 24px;
width: 28px;
height: 28px;
border: none;
background-color: transparent;
border-radius: 50%;
cursor: pointer;
}

.modal-x-close {
stroke: #111111;

}
.modal-taitle {
    max-width: 298px;
    height: 56px;
    text-align: left;
    margin-bottom: 40px;
}
.modal-input {
    width: 100%;
 height: 68px; 
 border-radius: 13px;
 border:1.5px solid #27252516; 
 padding-left: 62px;
 padding-right: 24px;
 outline: transparent;
 transition: border-color 300ms linear;

}
.modal-input:hover,
.modal-input:focus {
border-color: #FD9222;
}
.modal-input:hover +.modal-icon{
    stroke: #FD9222;
}
.modal-input:focus +.modal-icon {
stroke: #FD9222;
}
.modal-input::placeholder,
.modal-textarea::placeholder {
        font-size: 18px;
        font-weight: 400;
        line-height: 21.94px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #4040404D;

}
.modal-icon {
    fill: transparent;
    stroke: #404040;
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
    transition: stroke 300ms linear;
}
.modal-wrap {
    position: relative;
    margin-bottom: 18px;
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-textarea {
    width: 100%;
    height: 137px; 
    border-radius: 13px;
    border:1.5px solid #27252516; 
padding: 22px 24px;
    font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 1.22;
letter-spacing: -0.02em;
text-align: left;
color: #4040404D;
outline: transparent;
transition: border-color 300ms linear;
resize: none;
}

.modal-check-text {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.21;
    letter-spacing: -0.02em;
    text-align: left;
    display: flex;
    align-items: center;
    
}

.modal-check-text a {
    text-decoration: underline;
    color: #FD9222;
    padding-left: 3px;

}

.modal-check-text span {
    width: 20px;
    height: 20px;
    border: 1px solid #11111124;
    border-radius: 6px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-check:checked + .modal-check-text span {
    background-color: #fb9222;
    border: none;
    fill: #FFFFFF;
}

.check-icon {
    fill: #111111;
}

.modal-btn {
    font-family: Montserrat;
font-size: 14px;
font-weight: 600;
line-height: 17.07px;
text-align: left;
background-color: #FD9222;
color: #FFFFFF;
border: 1px solid transparent;
border-radius: 100px;
padding: 14px 40px;
cursor: pointer; 
transition: background-color 300ms linear, color 300ms linear;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #FFFFFF;
    color:#FD9222;
    border-color: #fb9222;
 
}

 */













/* .about-us {
    margin-top: -38px;
    min-height: 775px;
  } */
/*   
  .container {
      box-sizing: border-box;
      width: 375px;
      padding-left: 20px;
      padding-right: 20px;
      margin: 0 auto;
  }
  .about-content { 
      box-sizing: border-box;
      width: 335px;
      padding: 40px 20px 335px;
      background-color: #fbfbfb;
      border-radius: 24px;
      margin-top: -35px;
  
  }
  .about-wrap {
      margin-top: -295px;
      width: 100%;
      margin-right: auto;
      margin-left: auto;
  }
  
  
  .about-us {
  }
  .about-title {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 28px;
      line-height: 100%;
      letter-spacing: -0.02em;
      color: #1b414b;
      max-width: 295px;
      margin-bottom: 40px;
   
  }
  
  .about-subtitle{
      font-family: var(--font-family);
      font-weight: ;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: -0.02em;
      color: #1b414b;
      margin-bottom: 20px;
  
  
   
  }
  .about-text {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 12px;
      line-height: 117%;
      letter-spacing: -0.02em;
      color: #040306;
      opacity: 0.4;
  }
  .about-list {
  }
  
  
  
  
  
  @media screen and (min-width: 768px) {
      .container {
          width: 768px;
          padding-left: 32px;
          padding-right: 32px;
          margin: 0 auto;
      }
      .about-content {
          width: 704px;
          padding: 50px 136px 244px 32px;
      
      }
  
      .about-title{
  font-size: 48px;
  max-width: 536px;
  margin-bottom: 50px;
  
  }
  
  .about-subtitle{
      font-size: 23px;
  margin-bottom: 20px;
  }
  .about-text {
  font-size: 13px;
  line-height: 115%;
  
  }
  .about-wrap {
      margin-top: -194px;
  }
  
  .about-list {
      max-width: 389px;
  }
  }
  
  @media screen and (min-width: 1280px) {
  
      .container {
          width: 1280px;
          padding-left: 50px;
          padding-right: 50px;
          margin: 0 auto;
   
      }
      .about-content { 
          display: flex;
          width: 1180px;
          padding: 50px;
          padding-bottom: 415px;
         
      
      }
      .about-title{
          max-width: 537px;
          margin-bottom: 50px;
       }
       .about-wrap {
          margin-top: -315px;
      }
  
  
      .about-list {
          min-width: 354px;
          margin-left: auto;
      }
  }
  
  @media screen and (min-width: 1440px) {
  
      .container {
          width: 1440px;
  
      }
  
      .about-content { 
          display: flex;
          width: 1340px;
          padding-bottom: 438px;
         
      
      }
      .about-wrap {
          margin-top: -338px;
      }
      .about-list {
  
      } */