* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat" sans-serif;
    }


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
} 
img {
    display: block;
}

.taitle {
    font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.03em;
        color: #111111;
        text-align: center;
        text-transform: uppercase;
}
.orang {
    color: #FD9222;
    ;
}
.tecst {
            font-size: 14px;
            line-height: 18px;
            letter-spacing: -0.02em;
            color: #111111;

}
.menu-linc {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: -0.02em;
        color: #111111;
}
.menu-list {
    display: flex;
    gap: 24px;
}

button {
    cursor: pointer;
}

p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
.container {
    width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto; 
}


/* --------------HEADER---------------- */

.header {
    
}
.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    margin-right: 90px;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-logo {
    font-size: 18px; 
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
    text-align: left;
    color: #111111;
    display: flex;
    align-items: center;
}
.header-logo-ital {
    font-style: italic;
}
.header-menu-linc {
    /* display: block;
    padding-top: 24px;
    padding-bottom: 32px; */
    }
.header-soc-list {
    display: flex;
    gap: 18px;
    padding-top: 24px;
    padding-bottom: 32px;
}

.header-soc-icon {
fill: transparent;
stroke: #111111;
}


/* -------------------HERO-------------------- */

.hero {
   padding-bottom: 72px;
}
.hero-container {
padding: 380px 40px 40px;
border-radius: 30px;
background-image: linear-gradient(rgba(17, 17, 17, 0), rgba(17, 17, 17, 0.4)), url(../images/chocolate.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover; 
} 

.hero-title {
    max-width: 484px;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin-bottom: 32px;
}

    .hero-primayry-btn {
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 14px 40px;
    border: none;
    border-radius: 100px;
    background-color: #FD9222;
    margin-right: 14px;
    transition-property: color #FD9222, background-color #FCF1E0;
    transition-duration: (300ms);
    }

.hero-primayry-btn:hover,
.hero-primayry-btn:focus {
    color: #FD9222;
    background-color:  #FCF1E0;
}

    .hero-secondary-btn {
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #1E1823;; 
    padding: 14px 40px;
        border: 1px solid #FFFFFF;
        border-radius: 100px;
        transition-property: color #FD9222, background-color #FCF1E0;
            transition-duration: (300ms);
    }

    .hero-secondary-btn:hover,
    .hero-secondary-btn:focus {
    border: 1px solid #FD9222;
   color: #FD9222;
   background-color: #FFFFFF;
    }

    .hero-scroll-btn {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin-left: auto;
    }

        .hero-butons {
         display: flex;
         align-items: center;   
        }
    /* --------------PRICE----------------- */

   .price {
    background: #1E1823;
    padding-top: 50px;
    padding-bottom: 50px;
   }

   .price-list {
    display: flex;
    gap: 88px;
    padding-left: 18px;
    padding-right: 18px;
   }

   .price-item {
    width: calc((100% - 2 * 88) / 3);
   }

   .price-h {
        font-size: 18px;
        font-weight: 600;
        line-height: 21.94px;
        text-align: left;
        color:  #FFFFFF;
        margin-bottom: 18px;
   }

   .piece-p {
        font-size: 14px;
        font-weight: 400;
        line-height: 17.07px;
        letter-spacing: -0.02em;
        color: #FFFFFFB2;
   }

   .price-item-one {}

   .price-item-two {}


/* ------------------PICTURES--------------------- */

.pictures {
    padding-top: 100px;
}
.pictures-it-all {
    max-width: 411px;
    margin: 0 auto;
    margin-bottom: 28px;
}
.pictures-at-simply {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 486px;
}
.pictures-list {
    display: flex;
    gap: 19px;
}

.pictures-item {
    width: ((100% - 19 * 3) / 4);
    border: 1px solid #FD9222;
    border-radius: 15px;
    padding: 28px;
    position: relative;
}

.pictures-item:hover .pictures-item-text {
    transform: translate(0);
    opacity: 1;
}


.pictures-title {
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        text-transform: uppercase;
}
.black {
    color: #111111;
}
.pictures-item-img {
    margin-bottom: 36px;
}
    .choco { 
        background-color:#FD9222;;

}
.nuts {
    border: none;
    background-color: #1E1823;;
}
.pictures-item-text {
    position: absolute;
    top: 0px;
    left: 0;
    background-color: #FFFFFF;
    border-radius: 15px;
    color: #111111;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        text-align: left;
        padding: 20px;
        height: 100%;
        opacity: 0;
        transform: rotateY(180deg);
transition: transform 300ms linear, opacity 300ms linear;
}
/* ---------------------HOW-------------------------- */

.how {
    text-transform: uppercase;
    margin-top: 100px;
}

.how-h {
    margin-bottom: 50px;
   
}


.how-title {
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
color: #111111;
}

.how-list {}

.how-item {}

.how-title-sss {
    
}


/* -------------------LOVED------------------------- */

.loved {
    margin-top: 100px;
}

.loved-h {
    margin-bottom: 50px;
 
}
.loved-list {}

.loved-item {
    text-align: center;
}

.loved-title {}

.loved-p {
text-align: center;
}

.loved-btn {
        font-size: 18px;
        font-weight: 600;
        line-height: 21.94px;
        color: #111111;
        margin: 0 auto;
        margin-top: 50px;
        display: block;

}
.loved-image {

}

/* -------------------FOOTER--------------------- */

.footer {
    background: #1E1823;
    margin-top: 100px;
}

.footer-title {
        font-size: 28px;
        font-weight: 500;
        line-height: 34px;
        letter-spacing: -0.02em;
color: #FFFFFF;
}

.footer-p {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        color: #FFFFFF;
}

.footer-address {}

.footer-address-list {}

.footer-address-item {
 
}

.footer-nav {}

.footer-nav-list {}

.footer-nav-item {}

.footer-nav-p {
        color: #FFFFFF;
}
.footer-tel {
    font-style: normal;
    color: #FFFFFF;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.02em;
        text-align: center;

}

/* ---------------------BACKDROP-------------------- */

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(127, 255, 212, 0.416);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------------------MODAL------------------------- */

.modal{
    width: 517px;
    height: 694px;
    background-color: #FAFAFA;
    border-radius: 15px;
    padding: 40px;
    position: absolute;
}

.modal-clic-btn {
    position: absolute;
    top: 24px;
    right: 24px;
}
.modal-taitle {
    max-width: 298px;
    height: 56px;
    text-align: left;
    margin-bottom: 40px;
}
.modal-input {
    width: 100%;
 height: 68px; 
 border-radius: 13px;
 border:1.5px solid #27252516; 
 padding-left: 62px;
 padding-right: 24px;

}
/* .modal-input:hover {
border-color: #FD9222;
} */
.modal-input:focus {
border-color: #FD9222;
}
.modal-input::placeholder {
        font-size: 18px;
        font-weight: 400;
        line-height: 21.94px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #4040404D;
}
.modal-icon {
    fill: transparent;
    stroke: #404040;
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
}
.modal-wrap {
    position: relative;
    margin-bottom: 18px;
}